<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "ca.yorku.testapp"
        versionCode="2" 
        version   = "0.0.2">
  <name>Test App</name>
  <description>Test Application</description>
  <author href="http://www.yorku.ca/neal"
	  email="neal@yorku.ca">
	  Neal Stephenson
  </author>
</widget>
