<?xml version='1.0' encoding='utf-8'?>
<widget id="ca.yorku.test" 
	version="0.0.1" 
	versionCode="1"
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Test Application</name>
    <description>
      Test Application
    </description>
    <author email="neal@yorku.ca" href="http://www.yorku.ca/neal">
      Neal Stephenson
    </author>
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
